<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

</head>

    <body>
    <!-- Remove this line the first time you edit this file -->

    <!--Add a nav bar here -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                  <a class="navbar-brand" href="#">Car Dealership</a>
                  <a class="navbar-brand" href="about">Home</a>
            </div>
            {% if user.is_authenticated %}
            <form class="d-flex" role="search" method="post">
                <input class="form-control me-2" type="submit" placeholder="Username" aria-label="username">
                <input class="form-control me-2" type="submit" placeholder="Password" aria-label="psw">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary" type="submit">Login</button>
                    <button type="button" class="btn btn-outline-primary" type="submit">Sign Up</button>
                  </div>
              </form>
            {% else %}
            <form class="d-flex" role="search" method="post">
                <input class="form-control me-2" type="submit" placeholder="Username" aria-label="username" name="username">
                <input class="form-control me-2" type="submit" placeholder="Password" aria-label="psw" name="psw">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <p>{{ user.username }}}</p>
                    <button type="button" class="btn btn-outline-primary" type="submit">Logout</button>
                  </div>
              </form>
            {% endif %}
        </div>
    </nav>
    <div>
 
    </div>
    <footer>
        <p><a href="contact" class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Contact Us</a></p>
    </footer>
    <!--Add a dealer table here -->

    </body>

</html>
